header {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

input,
textarea,
select {
  width: 200px;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
}

.view-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.review-user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
}

.review-submit-btn {
  border: none;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #252525;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.review-submit-btn:hover {
  background-color: #252525eb;
}
